
#form_container
{
	padding:15px 15px;
	margin-top:15px;
	background: rgba(13, 1, 66, 0.877);	
	color:orange;
  margin-left: 10%;

}
.za{
background-color: navy;
}
body
{
  
	background-color: #000;
	background-image: url("images/stduio-2035349_1280.jpg"); 
  background-size: 1600px;
	/* background-size: cover; */
	background-repeat:no-repeat;

}
.upload-btn-wrapper 
{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] 
{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

